<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.crawler.mapper.CrawlerMapper">

    <insert id="insertData" parameterType="kr.co.crawler.model.CrawlerModel">
        INSERT IGNORE INTO crawler (
                        crawler_doc_id
                        , crawler_base_url
                        , crawler_target_url
                        , crawler_keyword
                        , crawler_title
                        , crawler_image_path
                        , crawler_content
                        , crawler_date
                        )
        VALUES (
                #{crawlerDocId}
                , #{crawlerBaseUrl}
                , #{crawlerTargetUrl}
                , #{crawlerKeyword}
                , #{crawlerTitle}
                , #{crawlerImagePath}
                , #{crawlerContent}
                , #{crawlerDate}
                )
    </insert>


</mapper>